<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>категории статей</title>
</head>
    <body>
            {% block title %}
            <h1>Category</h1>
            {% endblock title %}

            {% block content %}
                 <h1>Категории статей</h1>
                        {% if category %}
                             <table>
                                <tr>
                                   <td><h2>местные новости </h2></td>
                                   <td><h2>мировые новости</h2></td>
                                   <td><h2></h2>новости науки</td>
                                   <td><h2></h2>новости экономики</td>
                                </tr>
                                 {% for categorys in category %}
                                    <tr>
                                        <td>categorys.category_2</td>
                                        <td>categorys.category_3</td>
                                        <td>categorys.category_4</td>
                                        <td>categorys.category_5</td>
                                    </tr>
                                 {% endfor %}
                             </table>
                        {% endif %}
            {% endblock content %}
    </body>
</html>